
.model{
  background-color: black;
  overflow: hidden;
}
.model1{
  width: 100%;
  height: 100vh;
  color: white;
}
.mikki{
  padding-left: 4rem;
}
.model2{
  background-image: linear-gradient(to right, #e99813, #b97910, #8b5b0c, #603f09, #392400);
  width: 100%;
  height: 100vh;
 color: #ffffff;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}
.oreo{
  width: 100%;
  height: 100vh;
 color: #ffffff;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
  background-image: linear-gradient(to right, #0f4276, #2f5d93, #4979b1, #6397d0, #7eb6ef);
}
.move-image{ 
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
.move-image1{ 
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.move-image img, .move-image1 img{
  width: 15.5rem;
  height: 15.5rem; 
}
.model2 p, .oreo p{
  font-size: 18px;
  font-weight: 100;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.model2 a, .oreo a{
  color: #ffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
}